.sectionContainer {
  height: 90vh;
  /* background-color: antiquewhite; */
}

.greetingsContainer {
  padding-top: 12rem;
  padding-bottom: 12rem;
  color: #47484e;
}

.greetings {
}

.name {
  color: #5461c3;
  display: inline-block;
}

.downloadButton {
  background-color: #5461c3; /* Green */
  border: none;
  color: white;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.95;
}

.downloadButton:hover {
  opacity: 1;
  color: white;
}

.githubLogo {
  margin-left: 1.5rem;
  margin-right: 1.2rem;
  height: 2.5rem;
  width: 2.5rem;
}

.linkedinLogo {
  height: 3.2rem;
  width: 3.2rem;
}
